[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib\\forge-std"]
	branch = v1.4.0
[submodule "contracts/lib/aave-protocol"]
	path = contracts/lib/aave-protocol
	url = https://github.com/aave/aave-protocol
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib\\openzeppelin-contracts"]
	branch = v4.8.1
[submodule "lib/v2-contracts"]
	path = contracts/lib/v2-contracts
	url = https://github.com/alchemix-finance/v2-contracts
